*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Halogen-Light";
}

html, body, #app{ height: 100%; }
a{ text-decoration: none; }

.grid{ display: grid; }
.flex{ display: flex; }
.flex-row{ flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-col{ flex-direction: column; }
.justifyc{ justify-content: center; }
.alignc{ align-items: center; }

.height-100{ height: 100%; }

html{
    background-color: black;
    color: white;
}
.background-flame{
    background-image: url("/image/background.jpg");
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
}
.center { text-align: center; }
.rojo { color: red; }

@font-face {
    font-family: "Halogen-Light";
    src: url('/fonts/Halogen-Light.otf');

    /* src: url('/storage/fonts/Halogen-Black.otf'),url('/storage/fonts/Halogen-BlackOblique.otf'),url('/storage/fonts/Halogen-Bold.otf'),url('/storage/fonts/Halogen-BoldOblique.otf'),
    url('/storage/fonts/Halogen-Hairline.otf'),url('/storage/fonts/Halogen-HairlineOblique.otf'),url('/storage/fonts/Halogen-Medium.otf'),url('/storage/fonts/Halogen-MediumOblique.otf'),
    url('/storage/fonts/Halogen-Regular.otf'),url('/storage/fonts/Halogen-RegularOblique.otf'),url('/storage/fonts/Halogen-Thin.otf'),url('/storage/fonts/Halogen-ThinOblique.otf'), */
}

.overlay {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}