@media only screen and (max-width: 600px) {

    .divForm .formContacto {
        width: 90%;
        position: fixed;
        bottom: 20px; 
    }

    .divForm h1 {
        top: 19%;
        left: 9%;
        font-size: 1em;   
    }

    .formContacto .sizeTextContact {
        font-size: 1.5vh;
    }

    .formContacto .labelPhone {
        margin-top: 20px;
    }

    .formContacto .sizeTextInput {
        font-size: 2vh;
    }

    .formContacto .divInput input {
        height: 48px;
    }
    .divForm .formContacto .submit {
        padding: 7px 42px;
    }

    .formContacto ::-webkit-input-placeholder { 
        color:#fff; 
        font-size: 2vh;
        height: 30px; 
    }
    .formContacto ::-moz-placeholder {
         color:#ffff; 
         font-size: 2vh;
    } /* firefox 19+ */
    .formContacto :-ms-input-placeholder {
         color:#ffff; 
         font-size: 2vh;
    } /* ie */
    .formContacto input:-moz-placeholder {
         color:#ffff; 
         font-size: 2vh;
    }
}