.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: flex-end;
}

.modal {
  text-align: center;
  color: white;
  background-color: rgb(70, 64, 70);
  width: 100%;
  padding: 50px 0px;
  position: relative;
  flex-flow: column;
  margin: 5px;
}

.text-modal {
  font-size: 1em;
}