.about{ 
    height: 90%; 
    width: 100%;

    text-transform: uppercase;
}
.about .section{ 
    height: 110%; 
    width: 100%; 
}
.about .section:first-child{ height: 100%; }/* Para respetar el header */

.about .section .line, .about .section .line-90 { 
    height: 16.5%; 
    display: flex;
    align-items: center;
    padding-left: 5%;
    
    /* gradient text */
    background: -webkit-linear-gradient(45deg, salmon, salmon, #ff99ff, salmon, salmon);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 5vw;
}
.about .section .line{ width: 100%; }
.about .section .line-90{ width: 95%; }
.about .underline{ text-decoration: underline; }

.about .scroll-btn{ 
    padding: 10px 12.5px;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 24px;
    cursor: pointer;
    outline: none;

    transition: background-color 0.5s;
}
.about .scroll-btn:hover{
    background-color: #1a1a1a;
}