*{
    box-sizing: border-box;
    margin: 0;
    font-family: halogen, sans-serif;
    font-style: normal;
    font-weight: 300;
}

html, body, #app{ height: 100%; }
a{ text-decoration: none; }

.grid{ display: grid; }
.flex{ display: flex; }
.flex-row{ flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-col{ flex-direction: column; }
.justifyc{ justify-content: center; }
.alignc{ align-items: center; }

.height-100{ height: 100%; }





html{
    background-color: black;
}
.body{
    /* background-image: url("/storage/background.jpg"); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
}