.Exposition{ height: 100%; }
.Exposition >div{
    height: 100%;
    width: 100%;
    padding: 30px;
    font-size: 1.1em;
}
.Exposition .title{
    font-size: 4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
}
.Exposition  hr{ margin-bottom: 30px; }

.Exposition .title{ grid-area: title; }
.Exposition .description{ grid-area: description; }
.Exposition .type{ grid-area: type; }
.Exposition .details{ grid-area: details; }
.Exposition .img{ grid-area: img; }



/* lets talk about the c-word */
.Exposition .class-1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 20% 10%;
    grid-template-areas: 
        'img title'
        'img description'
        'type description';
}
.Exposition .class-1 >div:not(.img){
    z-index: 4;
}
.Exposition .class-1 .details,
.Exposition .class-1 .type hr{
    display: none;
}
.Exposition .class-1 .title{ margin-right: 75px; }
.Exposition .class-1 .type,
.Exposition .class-1 .description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Exposition .class-1 .img img{ 
    width: 110%;
    min-width: 800px;
    max-height: 80vh;
    margin-top: 5%;
    z-index: 1;
}
.Exposition .class-1 hr{ width: 40%; }



/* Fluttering flamingo */
.Exposition .class-2{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 20% 10%;
    grid-template-areas: 
        'img title'
        'img description'
        'img type';
}
.Exposition .class-2 .title{ margin-top: 50px; }
.Exposition .class-2 .details,
.Exposition .class-2 .type hr{
    display: none;
}
.Exposition .class-2 .img img{ height: 100%; }
.Exposition .class-2 .description hr{ width: 40%; }



/* Fluttering flamingo */
.Exposition .class-3{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 60% 30% 10%;
    grid-template-areas: 
        'img title title'
        'img description description'
        'img details type';
}
.Exposition .class-3 .title{ margin-top: 50px; }
.Exposition .class-3 .details hr,
.Exposition .class-3 .type hr{
    display: none;
}
.Exposition .class-3 .description{ padding: 30px 30px 30px 0; }
.Exposition .class-3 .description hr{ width: 30%; }
.Exposition .class-3 .details,
.Exposition .class-3 .type{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Exposition .class-3 .img img{
    max-width: 35vw;
    max-height: 90vh;
}
.Exposition .class-3 >div:not(.img){
    z-index: 4;
}



/* JAM */
.Exposition .class-7{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
        'img title'
        'img description';
}
.Exposition .class-7 .title{ margin-top: 30px; }
.Exposition .class-7 .type,
.Exposition .class-7 .details{
    display: none;
}
.Exposition .class-7 .img{ padding: 30px; }
.Exposition .class-7 .img img{ 
    width: 95%;
    max-height: 90vh;
}
.Exposition .class-7 hr{ width: 40%; }



/* the dark elf */
.Exposition .class-8{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 33.33%  33.33% 33.33%;
    grid-template-areas: 
        'title img'
        'details img'
        'details img';
}
.Exposition .class-8 .description,
.Exposition .class-8 .type{
    display: none;
}
.Exposition .class-8 .img{ padding-top: 15%; }
.Exposition .class-8 .img img{  height: 100%; }
.Exposition .class-8 hr{ 
    width: 15%;
    min-width: 70px;
    margin-bottom: 30px;
}



/* lethal combination */
.Exposition .class-9{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
        'title title title'
        'type img img'
        'type img img'
        'type img img';
}
.Exposition .class-9 .description,
.Exposition .class-9 .details{
    display: none;
}
.Exposition .class-9 .img img{ 
    min-width: 60vw;
    height: 100%;
}
.Exposition .class-9 hr{ 
    width: 25%;
    margin-bottom: 30px;
}



/* I read the news today */
.Exposition .class-10{
    display: grid;
    grid-template-columns: 50% 35% 15%;
    grid-template-rows: 60% 40%;
    grid-template-areas:
        'img title title'
        'img description type';
}
.Exposition .class-10 .details,
.Exposition .class-10 .type hr{
    display: none;
}
.Exposition .class-10 .title{ margin-top: 50px; }
.Exposition .class-10 .description,
.Exposition .class-10 .type{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Exposition .class-10 .description{ margin-right: 20px; }
.Exposition .class-10 .description hr{ width: 50%; }
.Exposition .class-10 .type{ align-items: flex-end; }
.Exposition .class-10 .img img{ height: 100%; }
.Exposition .class-10 >div:not(.img){
    z-index: 4;
}



/* velvet */
.Exposition .class-11{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 60% 10%;
    grid-template-areas:
        'title img'
        'description img'
        'type img';
}
.Exposition .class-11 .details,
.Exposition .class-11 .type hr{
    display: none;
}
.Exposition .class-11 .description{ width: 60%; }
.Exposition .class-11 .description hr{ width: 40%; }
.Exposition .class-11 .type{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Exposition .class-11 .img img{ height: 100%; }