.gallery{
    height: 80%;
    width: 100%;
    background: black;
}

.reference{
    width: 0;
    height: 0;
}

.gallery-img img{ position: fixed; }

.gallery-img .right10{ right: 10%; }
.gallery-img .right15{ right: 15%; }
.gallery-img .right20{ right: 20%; }
.gallery-img .right35{ right: 35%; }
.gallery-img .right45{ right: 45%; }
.gallery-img .right50{ right: 50%; }
.gallery-img .right70{ right: 70%; }
.gallery-img .right80{ right: 80%; }

.gallery-img .top15{ top: 15%; }
.gallery-img .top20{ top: 20%; }
.gallery-img .top30{ top: 30%; }
.gallery-img .top40{ top: 40%; }
.gallery-img .top50{ top: 50%; }
.gallery-img .top70{ top: 70%; }

.gallery-img .index1{ z-index: 1; }
.gallery-img .index2{ z-index: 2; }
.gallery-img .index3{ z-index: 3; }
.gallery-img .index4{ z-index: 4; }
.gallery-img .index5{ z-index: 5; }

.gallery-img .width30{ width: 30%; }
.gallery-img .width25{ width: 25%; }
.gallery-img .width20{ width: 20%; }
.gallery-img .width15{ width: 15%; }
.gallery-img .width10{ width: 10%; }
.gallery-img .width0{ max-width: 300px; }