html, body, #app{ width: 100%; }

.About{
    width: 100%;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    color: white;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(223,205,205,1) 60%, rgba(98,84,85,1) 100%);
    background-attachment: fixed;
    background-position: center;
}

.About > span{
    height: 10vh;

    font-size: 3vw;
    text-transform: uppercase;
}

.About .hello{ color: black; }
