.Navbar{
    z-index: 1000;
    position: fixed;
    right: 10px;
    top: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    transition: opacity .3s;
}

.Navbar .content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Navbar.black a,
.Navbar.black button {
    color: black;
}
.Navbar.white a,
.Navbar.white button {
    color: white;
}

.Navbar a{
    transition: color .2s;
}
.Navbar a:hover{ color: gray; }

.Navbar button{
    padding: 0;

    outline: none;
    border: none;
    cursor: pointer;
    background: none;

    transition: color .2s;
}

.Navbar button.open:hover{ color: gray; }
.Navbar button.close:hover{ color: red; }


@media only screen and (max-width: 600px) {
    .Navbar a{ 
        font-size: 1.4em; 
        margin-top: 20px;
    }
    .Navbar button{
        font-size: 2em;
    }
}

@media only screen and (min-width: 600px) {
    .Navbar a{ font-size: 2em; }
    .Navbar button{
        font-size: 3em;
    }
}