.Navbar{
    z-index: 1000;
    position: fixed;
    right: 10px;
    top: 10px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    transition: opacity .3s;

}
.Navbar *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* .Navbar .content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
} */

.Navbar.black a,
.Navbar.black button {
    color: black;
}
.Navbar.white a,
.Navbar.white button {
    color: white;
}

.Navbar a{
    margin-left: 20px;
    transition: color .2s;
}
.Navbar a:hover{ color: gray; }

.Navbar button{
    padding: 0;
    margin-left: 20px;

    outline: none;
    border: none;
    cursor: pointer;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color .2s;
}

.Navbar button.open:hover{ color: gray; }
.Navbar button.close:hover{ color: red; }


@media only screen and (max-width: 600px) {
    .Navbar a{ 
        font-size: 13px; 
    }
    .Navbar button{
        font-size: 24px;
        width: 28px;
        height: 28px;
    }
}

@media only screen and (min-width: 600px) {
    .Navbar a{ font-size: 20px; }
    .Navbar button{
        width: 40px;
        height: 40px;
        font-size: 35px;
    }
}