.Project{
    height: 90%;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.Project .title{
    position: fixed;
    top: 10vh;

    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}


.FirstElement{
    height: 80%;

    position: relative;
    display: flex;
    flex-direction: column;
}
.FirstElement .desc{
    padding: 0 20vw 0 20px;
    position: absolute;
}
.FirstElement .type{
    position: absolute;
}

.ImgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgWrapper img{ object-fit: contain; }
.ImgWrapper.big{ padding: 0 20px; }
.ImgWrapper.big img{ height: 100%; }
.ImgWrapper.medium{ padding: 0 50px; }
.ImgWrapper.medium img{ height: 90%; } 
.ImgWrapper.small{ padding: 0 6vw; }
.ImgWrapper.small img{ height: 80%; }
.ImgWrapper.background-none{ margin: 0 5px; }
.ImgWrapper.c-word{ background-color: #625455; }
.ImgWrapper.fluttering-flamingo{ background-color: #935a49; min-width: 40vw; }
.ImgWrapper.lara-logan{ background-color: #78423c; }
.ImgWrapper.human-herd{ background-color: #625455; }

.TextWrapper{
    padding: 5vh 5vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media only screen and (max-width: 800px) {
    .Project .title{
        line-height: 30px;
        font-size: 22px;
        left: 15px;
    }

    .FirstElement{
        min-width: 85vw;
    }
    .FirstElement .desc{
        line-height: 22px;
        padding: 10px;
        font-size: 14px;
        top: 8vh;
    }
    .FirstElement .type{
        font-size: 12px;
        bottom: 5vh;
    }
    .ImgWrapper{
        height: 70%;
    }
    .TextWrapper{
        width: 85vw;
        padding: 10px 20px;
        font-size: 13px;
        line-height: 20px;
    }
    .ImgWrapper.fluttering-flamingo{ min-width: 100vw; }
}

@media only screen and (min-width: 800px) {
    .Project .title{
        font-size: 1.5em;
        left: 30px;
    }

    .FirstElement{
        min-width: 60vw;
    }
    .FirstElement .desc{
        padding: 0 20vw 0 20px;
        font-size: 18px;
        top: 20vh;
    }
    .FirstElement .type{
        font-size: 16px;
        bottom: 0;
    }
    .ImgWrapper{
        height: 85%;
    }
    .TextWrapper{
        width: 70vw;
        padding: 5vh 5vw;
        font-size: 18px;
    }
}