.Projects{
    height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    overflow-y: hidden;
    overflow-x: scroll;
}

.Projects::-webkit-scrollbar { height: 5px; }
.Projects::-webkit-scrollbar-track { background: lightgray; }/* Track */
.Projects::-webkit-scrollbar-thumb { background: darkgray; }/* Handle */
.Projects::-webkit-scrollbar-thumb:hover { background: gray;  }/* Handle on hover */

.Projects > *{
    margin: 0 10px 25px 10px;
}