.Input-Container {
    border-bottom: 2px solid white;
    color: white;
}
.Input-Container-TextArea {
    margin-top: 50px;
}
.Input-Container textarea:focus,input:focus  {
    outline: none;
}
.Input-Container input,textarea {
    border: none;
    color: white;
    resize: none;
}
.Input-Container input {
    min-height: 50px; 
}
.Input-Container > * {
    background: transparent;
}
.Input-Container > label {
    margin-left: 50px;
}

.Input-Container input:-webkit-autofill,
.Input-Container input:-webkit-autofill:hover,
.Input-Container input:-webkit-autofill:focus,
.Input-Container input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.Input-Container ::-webkit-input-placeholder { color:#fff;  }
.Input-Container ::-moz-placeholder { color:#ffff; } 
.Input-Container :-ms-input-placeholder { color:#ffff; }  
.Input-Container input:-moz-placeholder { color:#ffff; } 

